# Server
PORT=4000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/orbitweb

# JWT
JWT_ACCESS_SECRET=change-me-super-secret
JWT_ACCESS_EXPIRES_IN=15m

# bcrypt
BCRYPT_SALT_ROUNDS=12

